spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/agiklo/ecommerce-config
          refresh-rate: 15
          timeout: 5
          search-paths: '/configuration,/configuration/{application}/{profile}'
server:
  port: 8888

